:root {
  --black: #151618;
  --white: #fff;
  --light-green: #F7F2EA;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Cormorant", serif;
}

body {
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.header__inner {
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;

  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
}

.menu__btn {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.menu__btn span {
  height: 2px;
  width: 100%;
  background-color: var(--black);
}


.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

/* TOP */

.top {
  background-image: url("./images/hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  min-height: 500px;
  color: var(--white);
  font-family: "Cormorant", serif;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  font-weight: 400;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote__text {
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  max-width: 704px;
  margin: 150px auto;
}

/* assortment */

.assortment {
  margin-bottom: 150px;
  font-family: "Cormorant", serif;
  text-align: center;
}

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0 40px;
}

.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}

.assortment__name {
  padding-top: 10px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
}

/* reviews */

.reviews {
  background-color: var(--light-green);
  padding-bottom: 60px 0;
}

.reviews__list {
  display: flex;
  gap: 0 26px;
  justify-content: center;
}

.reviews__item {
  flex-basis: 280px;
}

.reviews__text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

.reviews__author {
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 1000px) {
  .user-actions__item-search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 60px;
  }
  .logo {
    margin-bottom: 0;
  }
  .header__inner {
    min-height: auto;
  }

  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }

  .assortment {
    margin-bottom: 120px;
  }

  .assortment__list {
    gap: 0;
  }

  .reviews__item:last-child {
    display: none;
  }
}

/* #FIXME: get rid of extra @media */
@media (max-width: 925px) {
  .menu__list {
    gap: 0 40px;
  }
}

@media (max-width: 835px) {
  .menu__list {
    display: none;
  }
  .menu__btn {
    display: flex;
  }
  .menu {
    order: -1;
    margin-right: 0;
  }
  .logo {
    margin: 0 auto;
  }
  .user-actions {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding-right: 64px;
    padding-left: 64px;
  }

  .blockquote__text {
    max-width: 640px;
  }

  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 36px;
  }

  .reviews__item {
    width: 50%;
  }
  .reviews__item:last-child {
    display: block;
  }
}

@media (max-width: 690px) {
  .container {
    padding: 0 10px;
  }

  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .top__title {
    font-size: 40px;
  }

  .top__text {
    font-size: 20px;
  }

  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin: 60px auto;
  }
}


@media (max-width: 480px) {

  .logo {
    margin-right: 80px;
  }

  .logo img {
    width: 40px;
  }

  .assortment {
    margin-bottom: 60px;
  }

  .reviews {
    padding-top: 50px 0;
    width: 100%;
  }
  .reviews__list {
    flex-direction: column;
  }
  .reviews__item {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .title {
    margin-bottom: 10px;
  }
  
  .header__inner {
    padding: 10px 0;
  }
  .logo {
    margin-right: 50px;
  }

  .user-actions__item-search {
    margin-left: 0px;
  }

  .top__inner {
    min-height: 366px;
  }

  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .top__text {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .blockquote__text {
    max-width: 340px;
    margin: 70px auto;
  }

  .assortment {
    margin-bottom: 80px;
  }

  .assortment__img {
    max-width: 170px;
  }

  .reviews__item:last-child,
  .reviews__item:first-child {
    display: none;
  }
}
